// GENERAL HEADER STYLES

header.homePage,
header.blogPage,
header.contactPage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40px;
    h1 {
        font-family: $fontOne;
        color: $secondary;
        font-weight: normal;
        font-size: 5.8rem;
        line-height: 6.8rem;
        @include forTablet {
            font-size: 4.8rem;
        }
        @include forPhone {
            font-size: 4.8rem;
        } 
        // @include forSmallerScreen {
        //     font-size: 3.8rem;
        // }
        @media (max-width: 340px) {
            font-size: 4.3rem;
        }
        
    }
    .regNav {
        ul {
            display: flex;
            justify-content: space-between;
        }
        li {
            padding-left: 55px;
        }
        a {
            padding-bottom: 8px;
        }
        a:hover {
            border-bottom: 2px solid $accent;
        }
    }
}

.headerTop {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    position: relative;
    align-items: center;
}

header {
    .wrapper {
        height: 100%;;
    }
}

// ------------ HAMBURGER/CHECKBOX MENU --------------
header.homePage,
header.blogPage,
header.contactPage {
    .hamburger {
        position: fixed;
        top: 52px;
        right: 10%;
        font-size: 5rem;
        display: none;
        z-index: 10;
        // cursor: pointer;
        label {
            color: $accent;
            cursor: pointer;
        }
        input[type="checkbox"] {
            display: none;
        }
        nav {
            display: flex;
            background-color: $secondary;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            li {
                padding-left: 0;
            }
            a {
                color: $white;
            }
            a:hover {
            border-bottom: 2px solid $accent;
            }  
            position: fixed;
            top: 0;
            width: 50%;
            height: 100vh;
            right: -50%;
            transition: all 0.5s;
            z-index: -5;
            text-align: center;
        }
        input[type="checkbox"]:checked + .hamNav {
            right: 0;  /*when the checkbox is checked, put the hamburger nav back to right:0; It was at right:-100%;*/
        }
        input[type="checkbox"]:checked ~ label[for="toggle"] {
            color: white;
        }
    }
}

 

// HOME PAGE HEADER STYLES
header.homePage {
    height: 95vh;
    // max-height: 800px;
    background-image: url(../assets/header-home.jpg);
    position: relative;
    h1 {
        margin-top: 80px;
        position: absolute;
    }
    .imageContainer {
        // width: 57%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -200px;
        // top: 450px;
        // bottom: 0;
        max-width: 700px;
        @include forPhone {
        bottom: -150px;
        }
        @include forPhone {
        bottom: -150px;
        }
        @include forSmallerScreen{
            bottom: -150px;
        }
        // @media (min-width:475px) {
        //     bottom: -200px;
        // }
        @media (min-width:750px) {
            bottom: -200px;
        }
         @media (max-width:350px) {
            bottom: -100px;
        }
        
    }
}

// BLOG PAGE HEADER STYLES
header.blogPage {
    height: 90vh;
    background-image: url(../assets/blog-header.jpg);
    h1 {
        margin-top: 125px;
    }
}

// CONTACT PAGE HEADER STYLES
header.contactPage {
    height: 65vh;
    background-image: url(../assets/contact-header.jpg);
    h1 {
        margin-top: 125px;
    }
}

//----------- MEDIA QUERIES --------------
@media (max-width: 1080px) {
    header.homePage,
    header.blogPage,
    header.contactPage {
        .regNav {
            display: none;
        }
        .hamburger {
            display: block;
            .hamNav {
            font-size: 4rem;
            width: 100%;
            right: -100%;
            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            }
        }
    }
}

// @media (max-width: 850px) {
//     header .imageContainer {
//         width: 80%;
//     }
// }

// @media (min-width: 850px) {
//     header .imageContainer {
//         width: 57%;
//     }
// }

@media (max-width: 650px) {
    header .imageContainer {
        width: 100%;
        // bottom: -148px;
    }
    header .headerImage {
        width: 100%
    }
    header.homePage .homePageTitle {
        font: normal;
    }
    // .homePageTitle {
    //     width: 100%;
    //     font-size: 4.8rem;
    // }
}

@media (max-width: 600px) {
    header.homePage,
    header.blogPage,
    header.contactPage {
        .hamburger {
            nav {
                width: 100%;
                right: -100%;
            }
        }
        .hamNav {
            font-size: 5rem;
            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}

