// ----------- HOME PAGE STYLES ----------
// SECTION1 STYLES
.section1 {
    background-color: $primary;
    padding-bottom: 115px;
    padding-top: 265px;
    .flexContainer {
        display: flex;
        justify-content: space-between;
    }
}

.section1 {
    .infoContainer {
    width: 70%;
    padding-right: 50px;
    padding-top: 50px;
    p {
        margin: 20px 0 40px 0;
    }
    button {
        background-color: $secondaryTwo;
        color: $white;
    }
}
}

.section1 {
    .imageContainer {
    // width: 30%;
    object-fit: cover;
    // box-shadow: -16px 16px $accent;
    }
    img {
        box-shadow: -20px 22px $accent;
    }
    .headingTwoA {
        color: $secondaryTwo;
    }
}
// SECTION2 STYLES
.section2 {
    background-color: $secondary;
    padding: 100px 0;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            // width: 30%;
            flex: 1 1 auto;
            &:nth-of-type(2) {
                margin: 0 35px;
            }
        }

    }
}

// SECTION3 STYLES
.section3 {
    background-color: $primary;
    padding: 62px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            padding: 30px 20px;
            display: flex;
        }
    }
    .headingTwoA {
        color: $secondaryTwo;
    }
    .iconContainer {
        padding: 10px 20px 0 0;
    }
    .icon {
        font-size: 2.8rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include flexCenter;
        background-color: $accent;
        i {
        color: $white;
        }
    }
    .infoContainer {
        li {
            display: flex;
        }
        p {
            margin-top: 20px;
        }
    }
}

// SECTION4 STYLES
// .section4a,
// .section4b {
//     background-color: $secondary;
//     position: relative;
//     h2, p {
//         color: $white;
//     }
//     p {
//         margin: 20px 0;
//     }
//     button {
//         background-color: $primary;
//         color: $secondary;
//         // margin: 20px 0;
//     }
//     .box {
//         width: 50%;
//     }
// }

// .section4a {
//     .flexContainer {
//         display: flex;
//         justify-content: start;
//     }
//     .imageContainer {
//         position: absolute;
//         left: 0;
//         top: -55px;
//         bottom: 0;
//     }
//     img {
//         box-shadow: 20px 22px $accent;
//     }
//     .box {
//         padding: 80px 0 80px 120px;
//     }
// }

// .section4b {
//     text-align: right;
//     .flexContainer {
//         display: flex;
//     }
//     .imageContainer {
//         position: absolute;
//         right: 0;
//         top: 0;
//         bottom: 0;
//     }
//     img {
//         box-shadow: -20px 22px $accent; 
//     }
//     .box {
//         padding: 80px 120px;
//     }
// }

// BACKGROUND VERSION
.section4a,
.section4b {
    // border: 1px solid red;
    background-color: $secondary;
    position: relative;
    h2, p {
        color: $white;
    }
    p {
        margin: 20px 0;
    }
    button {
        background-color: $primary;
        color: $blackOne;
    }
    // .box {
    //     width: 50%;
    // }
    .box {
        // padding: 80px 0 80px 120px;
        padding: 80px 0;
    }
}    

.section4a {
    position: relative;
    // background-color: $secondary;
    .flexContainer {
        display: flex;
        justify-content: end;
    }
    .box {
        padding-left: 50px;
    }
}

.section4b {
    position: relative;
    .flexContainer {
        display: flex;
        text-align: right;
    }
    .box {
        padding-right: 50px;
    }
}

.section4a .box,
.section4b .box {
    width: 50%;
}

.section4a::before {
    content: '';
    // width: 50%;
    width: calc(50% - 50px);
    background-image: url(../assets/left-image.jpg);
    background-size: cover;
    position: absolute;
    top: -60px;
    bottom: 60px;
    left: 0;
    box-shadow: 20px 22px $accent;
    // padding-right: 50px;
}

.section4b::after {
    content: '';
    // width: 50%;
    width: calc(50% - 50px);
    background-image: url(../assets/right-image.jpg);
    background-size: cover;
    position: absolute;
    top: 60px;
    bottom: -60px;
    right: 0;
    box-shadow: -20px 22px $accent;
}

// SECTION5 STYLES

.section5a {
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    max-height: 550px;
}

.section5b {
    background-color: $primary;
    padding: 250px 0;
    text-align: center;
    h2, p {
        color: $secondaryTwo;
    }
    p {
        margin: 20px 0;
    }
    button {
        background-color: $secondaryTwo;
        color: $white;
        margin: 45px 0;
    }
}

// -----------  BLOG PAGE STYLES ----------
.blogBody {
    background-color: $primary;
}

.mainArticleContent {
    // background-color: $secondary;
    color: $white;
}

.articleWrapper {
    width: 60%;
}

.commentsSection {
    .comment {
        display: flex;
        .textContainer {
            width: 90%;
            margin-left: 20px;
            margin-bottom: 80px;
        }
    }
    h2 {
        padding-bottom: 40px;
    }
    h3 {
        padding-bottom: 10px;
        color: $secondaryTwo;
    }
}

.blogPost {
    position: relative;
    .textContainer {
        padding: 80px 20px;
        padding-top: 600px;
        // z-index: 10;
    }
    p:not(.blogDate) {
        padding: 18px 0;
    }
    .blogDate {
        padding: 10px 0 18px 0;
    }
}

.blogPost .articleWrapper::after {
    content: '';
    width: 60%;
    background-color: $secondary;
    // width: calc(50% - 50px);
    // background-image: url(../assets/right-image.jpg);
    // background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    // box-shadow: 20px 22px $accent;
    border-bottom: 22px solid $accent;
    box-shadow: 20px 0 $accent;
}


.blogPost::before {
    content: '';
    width: 60%;
    max-height: 650px;
    // background-color: $secondary;
    // width: calc(50% - 50px);
    background-image: url(../assets/blog-post-image.jpg);
    background-size: cover;
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    box-shadow: 20px 22px $accent;
}


// FORM STYLES
.commentsSection {
    padding-top: 50px;
    margin-bottom: 80px;
    button {
        display: block;
        width: 100%;
    }
    .nameEmail {
        display: flex;
        justify-content: space-between;
        input {
            flex: 1 1 auto;
            border-bottom: 3px solid $accent;
            background-color: $primary;
            padding: 0 0 20px 30px;
        }
        input[type="email"] {
            margin-left: 15px;
        }
    }
    textarea {
        border: 3px solid $accent;
        margin: 20px 0;
        width: 100%;
        background-color: $primary;
        padding: 30px 0 0 30px;
        resize: none;
    }
    button {
        background-color: $secondaryTwo;
        color: $white;
    }
}

// ASIDE STYLES
main {
    position: relative;
}

aside {
    width: 25%;
    // padding: 20px;
    background-color: $secondary;
    // border-bottom: 22px solid $secondary;
    // box-shadow: -20px 0 $secondary;
    // padding-bottom: 22px;
    color: $white;
    position: absolute;
    top: 150px;
    right: 0;
    .imageContainer {
        box-shadow: -20px 22px $secondary;
    }
    .asideText {
        // padding: 0 0 22px 20px;
        box-shadow: -20px 0 $secondary;
        padding-bottom: 22px;
    }
    li::before {
        content: '•';
        margin-right: 5px;
    }
}

// -----------  CONTACT PAGE STYLES ----------
.contactMain {
    background-color: $primary;
    // .infoContainer {

    // }
    .flexContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .social {
        display: flex;
        justify-content: space-between;
        font-size: 2.4rem;
        padding-bottom: 20px;
        a {
            color: $secondaryTwo;
        }
    }

    .socialEmail {
        // display: flex;
        width: max-content;
        margin-bottom: 20px;
    }
    // .formContainer {
    //     // max-width: 60%;
    //     width: 65%;
    // }
    form {
        width: 65%;
        // width: 850px;
        // min-width: 500px;
        background-color: $secondary;
        position: relative;
        top: -100px;
        padding: 50px;
        box-shadow: 20px 22px $accent;
        flex: 0  0 auto;

        button {
        display: block;
        width: 100%;
        }
        .nameEmail {
            display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;
        }
        input {
                flex: 1 1 auto;
                border-bottom: 3px solid $accent;
                background-color: $secondary;
                color: $white;
                padding: 0 0 20px 30px;
                margin-bottom: 50px;
            }
        input[type="email"] {
                margin-left: 15px;
            }
        textarea {
            border: 3px solid $accent;
            color: $white;
            // margin: 20px 0;
            width: 100%;
            background-color: $secondary;
            padding: 30px 0 0 30px;
            margin-bottom: 50px;
            resize: none;
        }
        button {
            background-color: $whiteDark;
            color: $blackOne;
        }
    }
}

@media (max-width: 1300px) {
    .contactMain {
        .nameEmail {
            flex-direction: column;
        }
         form {
            // position: static;
            // width: 100%;
            input[type="email"] {
            margin-left: 0;
            }
        }
    }    
}    

@media (max-width: 1080px) {
    .contactMain {
        padding: 0 0 50px 0;
        .flexContainer {
            flex-direction: column;
        }
        .infoContainer {
            // flex-direction: row;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
        }
        .socialEmail {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        form {
            width: 80%;
        }
    }
}
@media (max-width: 800px) {
    .contactMain {
        form {
            padding: 20px;
            width: 100%;
        }
    }
}

@media (max-width: 750px) {
    .contactMain {
        .infoContainer {
            justify-content: space-between;
        }
    }
}

@media (max-width: 600px) {
    .contactMain {
         .infoContainer {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .socialEmail {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 560px) {
    .contactMain {
        .wrapper {
            width: 90%;
        }
        form {
            padding: 20px;
            box-shadow: none;
        }
    }
}

