// ----------- HOME PAGE STYLES ----------
// SECTION1 STYLES
// body {
//     @media (max-width: 733px) {
//         position: relative;
//     }
// }
.section1 {
    background-color: $primary;
    // padding: 100px 0;
    // padding-top: 23%;
    padding-top: 100px;
    padding-bottom: 115px;
    position: relative;
    // padding-top: 350px;
    // @media (max-width: 1000px) {
    //         padding-top: 20%;
    //     }
    // @media (max-width: 835px) {
    //         padding-top: 10%;
    //     } 
    // @media (max-width: 733px) {
    //     position: static;
    // }
    .flexContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // @include forTablet {
    //     // padding-top: 100px;
    // }
    // @include forPhone {
    //     padding-top: 300px;
    // }
    // @include forSmallPhone {
    //     padding-top: 250px;
    // }
    // @include forSmallerScreen {
    //     padding-top: 180px;
    // }
    // @media (max-width: 410px) {
    //     padding-top: 150px;
    // }
    // @media (max-width: 400px) {
    //     padding-top: 130px;
    // }
    // @media (max-width: 360px) {
    //     padding-top: 90px;
    // }
    // .space {
    //     width: 100%;
    //     background-image: url(../assets/home-box-header.png);
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     height: 20vh;
    //     // @media (max-width: 1080px) {
    //     //     height: 12vh;
    //     // }   
    // }
}

// .section1::before {
//     content: '';
//     width: 100%;
//     max-height: 650px;
//     background-image: url(../assets/home-box-header.png);
//     // background-size: cover;
//     background-size: contain;
//     background-repeat: no-repeat;
//     position: absolute;
//     top: -390px;
//     bottom: 0;
//     left: 0;
//     @media (max-width: 733px) {
//             padding-top: 10%;
//         } 
// }

.section1 {
    .infoContainer {
    width: 70%;
    padding-right: 50px;
    // margin-bottom: 0px;
    // padding-top: 50px;
    p {
        margin: 20px 0 40px 0;
    }
    button {
        background-color: $secondaryTwo;
        color: $white;
        &:hover, &:focus, &:active {
            background-color: $accent;
            outline: 3px dotted $secondaryTwo;
        }
    }
}
}

.section1 {
    .imageContainer {
    object-fit: cover;
    margin-bottom: 22px;
    }
    img {
        box-shadow: -20px 22px $accent;
    }
    .headingTwoA {
        color: $secondaryTwo;
    }
}
// SECTION2 STYLES 
.section2 {
    background-color: $secondary;
    padding: 100px 0;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            flex: 1 1 auto;
            &:nth-of-type(2) {
                margin: 0 35px;
            }
        }

    }
}

// SECTION3 STYLES
.section3 {
    background-color: $primary;
    padding: 62px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            padding: 30px 20px;
            display: flex;
        }
    }
    .headingTwoA {
        color: $secondaryTwo;
    }
    .iconContainer {
        padding: 10px 20px 0 0;
    }
    .icon {
        font-size: 2.8rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include flexCenter;
        background-color: $accent;
        i {
        color: $white;
        }
    }
    .infoContainer {
        li {
            display: flex;
        }
        p {
            margin-top: 20px;
        }
    }
}

// SECTION4 STYLES 
.section4a,
.section4b {
    background-color: $secondary;
    position: relative;
    h2, p {
        color: $white;
    }
    p {
        margin: 20px 0;
    }
    button {
        background-color: $primary;
        color: $blackOne;
        &:hover, &:focus, &:active {
            background-color: $accent;
            outline: 3px dotted $primary;
        }
    }
    .box {
        padding: 80px 0;
    }
}    

.section4a {
    position: relative;
    .flexContainer {
        display: flex;
        justify-content: flex-end;
    }
    .box {
        padding-left: 50px;
    }
}

.section4b {
    position: relative;
    .flexContainer {
        display: flex;
        text-align: right;
    }
    .box {
        padding-right: 50px;
    }
}

.section4a .box,
.section4b .box {
    width: 50%;
}

.section4a::before {
    content: '';
    width: calc(50% - 50px);
    background-image: url(../assets/left-image.jpg);
    background-size: cover;
    position: absolute;
    top: -60px;
    bottom: 60px;
    left: 0;
    box-shadow: 20px 22px $accent;
}

.section4b::after {
    content: '';
    width: calc(50% - 50px);
    background-image: url(../assets/right-image.jpg);
    background-size: cover;
    position: absolute;
    top: 60px;
    bottom: -60px;
    right: 0;
    box-shadow: -20px 22px $accent;
}

// SECTION5 STYLES 

.section5a {
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    max-height: 550px;
}

.section5b {
    background-color: $primary;
    padding: 100px 0;
    text-align: center;
    h2, p {
        color: $secondaryTwo;
    }
    p {
        margin: 20px 0;
    }
    button {
        background-color: $secondaryTwo;
        color: $white;
        // margin: 45px 0;
        margin-top: 45px;
        &:hover, &:focus, &:active {
            // color: $accent;
            background-color: $accent;
            outline: 3px dotted $secondaryTwo;
        }
    }
}

// -----------  BLOG PAGE STYLES ----------
.blogBody {
    background-color: $primary;
}

.mainArticleContent {
    color: $white;
}

.articleWrapper {
    width: 60%;
}

.commentsSection {
    .comment {
        display: flex;
        .textContainer {
            width: 90%;
            margin-left: 20px;
            margin-bottom: 80px;
        }
    }
    h2 {
        padding-bottom: 40px;
    }
    h3 {
        padding-bottom: 10px;
        color: $secondaryTwo;
    }
}

.blogPost {
    position: relative;
    .textContainer {
        padding: 80px 20px;
        padding-top: 600px;
    }
    p:not(.blogDate) {
        padding: 18px 0;
    }
    .blogDate {
        padding: 10px 0 18px 0;
    }
}

.blogPost .articleWrapper::after {
    content: '';
    width: 60%;
    background-color: $secondary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: 22px solid $accent;
    box-shadow: 20px 0 $accent;
}


.blogPost::before {
    content: '';
    width: 60%;
    max-height: 650px;
    background-image: url(../assets/blog-post-image.jpg);
    background-size: cover;
    position: absolute;
    top: -150px;
    bottom: 0;
    left: 0;
    box-shadow: 20px 22px $accent;
}

// FORM STYLES
.blogBody {
    input[type="email"] {
            margin-left: 15px;
     }
    input {
        flex: 1 1 auto;
        border-bottom: 3px solid $accent;
        background-color: $primary;
        padding: 0 0 20px 20px;
    }
}

.commentsSection {
    padding-top: 50px;
    margin-bottom: 80px;
    button {
        display: block;
        width: 100%;
        &:hover {
            background-color: $accent;
        }
    }
    .nameEmail {
        display: flex;
        justify-content: space-between;
    }
    textarea {
        border: 3px solid $accent;
        margin: 20px 0;
        width: 100%;
        background-color: $primary;
        padding: 20px 0 0 20px;
        resize: none;
    }
    button {
        background-color: $secondaryTwo;
        color: $white;
    }
}

// ASIDE STYLES
main {
    position: relative;
}

aside {
    width: 25%;
    background-color: $secondary;
    color: $white;
    position: absolute;
    top: 150px;
    right: 0;
    .imageContainer {
        box-shadow: -20px 22px $secondary;
    }
    .asideText {
        box-shadow: -20px 0 $secondary;
        padding-bottom: 22px;
    }
    li::before {
        content: '•';
        margin-right: 5px;
    }
}

// -----------  CONTACT PAGE STYLES ----------
.contactMain {
    background-color: $primary;
    .flexContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .social {
        display: flex;
        justify-content: space-between;
        font-size: 2.4rem;
        padding-bottom: 20px;
        a {
            color: $secondaryTwo;
        }
    }

    .socialEmail {
        width: max-content;
        margin-bottom: 20px;
    }
    form {
        width: 65%;
        background-color: $secondary;
        position: relative;
        top: -100px;
        padding: 50px;
        box-shadow: 20px 22px $accent;
        flex: 0  0 auto;
        margin-top: 40px;

        button {
            display: block;
            width: 100%;
            background-color: $whiteDark;
            color: $blackOne;
            &:hover {
                background-color: $accent;
                color: $white;
            }
        }
        .nameEmail {
            display: flex;
            justify-content: space-between;
        }
        input {
            width: 100%;
            flex: 1 1 auto;
            border-bottom: 3px solid $accent;
            background-color: $secondary;
            color: $white;
            padding: 0 0 20px 20px;
            margin-bottom: 50px;
        }
        input[type="email"] {
            margin-left: 15px;
        }
        textarea {
            border: 3px solid $accent;
            color: $white;
            width: 100%;
            background-color: $secondary;
            padding: 20px 0 0 20px;
            margin-bottom: 50px;
            resize: none;
        }
    }
}

// ----------- MEDIA QUERIES ---------------
@media (max-width: 1300px) {
    .contactMain {
        .nameEmail {
            flex-direction: column;
        }
         form {
            input[type="email"] {
            margin-left: 0;
            }
        }
    }    
}    

@media (max-width: 1080px) {
    // CONTACT PAGE
    .contactMain {
        padding: 0 0 50px 0;
        .flexContainer {
            flex-direction: column;
        }
        .infoContainer {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            // text-align: center;
        }
        .socialEmail {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        form {
            width: 80%;
        }
    }
    // HOME PAGE
    .section5b {
        padding: 100px 0;
    }
    .section1 {
        .flexContainer {
            // flex-direction: column;
            align-items: center;
        }
        .infoContainer {
            width: 100%;
            // text-align: center;
            // margin-bottom: 50px;
            // padding-right: 0;
            padding-top: 0;
        }
        .imageContainer {
            // width: 60%;
            @include forSmallPhone {
                width: 80%;
            }
        }
    }
}

@media (max-width: 1000px) {
    // BLOG PAGE
    .blogBody {
        aside {
            display: none;
        }
        .articleWrapper {
            width: 100%;
        }
        .blogPost .articleWrapper::after {
            width: 100%;
            box-shadow: none;
            border: none;
        }
        .blogPost::before {
            max-height: 500px;
        }
        .blogPost .textContainer {
            padding-top: 450px;
        }
    }
}

@media (max-width: 900px) {
    .section3 {
        ul {
        flex-wrap: wrap;
        li {
            width: 100%;
        }
        } 
    }
    .section2 {
        ul {
            // flex-direction: column;
            align-items: center;
            li:nth-of-type(2) {
                // margin: 40px 0;
                margin: 0 20px;
            }
        }
        li {
            // max-width: 70%;
        }
    }
}
@media (max-width: 800px) {
    .contactMain {
        form {
            padding: 20px;
            width: 100%;
        }
    }
    // HOME PAGE
    .section4a::before, 
    .section4b::after {
        width: 100%;
        box-shadow: none;
        max-height: 40vh;
        top: 0;
    }
    .section4a .box,
    .section4b .box {
        width: 100%;
        margin-top: 40vh;
        padding: 0;
        padding: 100px 0;
    }
    .section4a .flexContainer,
    .section4b .flexContainer {
        text-align: center;
    }
    .section5b {
        // padding: 50px 0;
    }
    // header.homePage {
    //     .imageContainer {
    //         width: 100%;
    //     }
    // }
}

@media (max-width: 750px) {
    .section1 {
        padding-bottom: 100px;
        .flexContainer {
            flex-direction: column;
            align-items: center;
        }
        .infoContainer {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
            padding-right: 0;
            padding-top: 0;
        }
        .imageContainer {
            margin-bottom: 0;
            // width: 60%;
            // @include forSmallPhone {
            //     width: 80%;
            // }
        }
    }
    // CONTACT PAGE
    .contactMain {
        .infoContainer {
            justify-content: space-between;
        }
    }
    // BLOG PAGE
    .blogBody {
        .nameEmail {
            flex-direction: column;
        }
        form {
            input[type="email"] {
            margin-left: 0;
            }
        }
        input {
            margin-top: 15px;
        }
        .nameEmail {
            margin-bottom: 20px;
        }
        .articleWrapper {
            width: 100%;
        }
        .blogPost::before {
            width: 80%;
        }
        .textContainer {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 600px) {
    // CONTACT PAGE
    .contactMain {
         .infoContainer {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
        }
        .socialEmail {
            margin-bottom: 20px;
        }
    }
    // HOME PAGE
    .section2 {
        li {
            max-width: 100%;
        }
    }
}

@media (max-width: 560px) {

    .contactMain {
        .wrapper {
            width: 90%;
        }
        form {
            padding: 20px;
            box-shadow: none;
        }
    }
    .section2 {
        ul {
            flex-direction: column;
            align-items: center;
            li:nth-of-type(2) {
                margin: 40px 0;
                // margin: 0 20px;
            }
        }
        li {
            // max-width: 70%;
        }
    }
    .blogBody {
        .blogPost::before {
            max-height: 400px;
        }
        .blogPost {
            .textContainer {
            padding-top: 325px;
        }
        }
    }
    // HOME PAGE
    .section5b {
        padding: 80px 0;
    }
    .section5a {
        height: 40vh;
    }
    .section3 {
        ul {
            text-align: center;
            li {
                flex-direction: column;
            }
        }
        .icon {
            margin: 0 auto;
        }
        .iconContainer {
            padding-bottom: 10px;
        }
    }
}

@media (max-width: 400px) {
    .contactMain {
        .wrapper {
            width: 90%;
        }
        form {
            margin-top: 40px;
        }
    }
}

