@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

fieldset {
  border: none;
}

input {
  border: none;
}

textarea {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
}

.logo {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  line-height: 2.4rem;
  letter-spacing: 0.17rem;
}

button {
  font-size: 2.7rem;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  line-height: 3.2rem;
  letter-spacing: 0.14rem;
}

nav {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  line-height: 2.9rem;
  letter-spacing: 0.14rem;
}

.headingTwoA {
  font-size: 4.3rem;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  line-height: 5.8rem;
  letter-spacing: 0.27rem;
}

.headingTwoB {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  line-height: 5.8rem;
  letter-spacing: 0.25rem;
}

.headingTwoC {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.43rem;
}

.headingTwoD {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.29rem;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

nav a {
  color: #21404F;
  text-transform: uppercase;
}

button {
  padding: 10px 40px;
}

.lineBreak {
  display: block;
}

header.homePage,
header.blogPage,
header.contactPage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 40px;
}

header.homePage h1,
header.blogPage h1,
header.contactPage h1 {
  font-family: "Pacifico", cursive;
  color: #21404F;
  font-weight: normal;
  font-size: 5.8rem;
  line-height: 6.8rem;
}

header.homePage nav,
header.blogPage nav,
header.contactPage nav {
  width: 37%;
}

header.homePage nav ul,
header.blogPage nav ul,
header.contactPage nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.homePage {
  height: 90vh;
  background-image: url(../assets/header-home.jpg);
  position: relative;
}

header.homePage h1 {
  margin-top: 80px;
}

header.homePage .imageContainer {
  width: 57%;
  position: absolute;
  left: 0;
  bottom: -226px;
}

header.blogPage {
  height: 90vh;
  background-image: url(../assets/blog-header.jpg);
}

header.blogPage h1 {
  margin-top: 125px;
}

header.contactPage {
  height: 65vh;
  background-image: url(../assets/contact-header.jpg);
}

header.contactPage h1 {
  margin-top: 125px;
}

.section1 {
  background-color: #CCEDFB;
  padding-bottom: 115px;
  padding-top: 265px;
}

.section1 .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1 .infoContainer {
  width: 70%;
  padding-right: 50px;
  padding-top: 50px;
}

.section1 .infoContainer p {
  margin: 20px 0 40px 0;
}

.section1 .infoContainer button {
  background-color: #1A315C;
  color: #FFFFFF;
}

.section1 .imageContainer {
  -o-object-fit: cover;
     object-fit: cover;
}

.section1 img {
  -webkit-box-shadow: -20px 22px #0CADC0;
          box-shadow: -20px 22px #0CADC0;
}

.section1 .headingTwoA {
  color: #1A315C;
}

.section2 {
  background-color: #21404F;
  padding: 100px 0;
}

.section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section2 ul li:nth-of-type(2) {
  margin: 0 35px;
}

.section3 {
  background-color: #CCEDFB;
  padding: 62px 0;
}

.section3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 ul li {
  width: 50%;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .headingTwoA {
  color: #1A315C;
}

.section3 .iconContainer {
  padding: 10px 20px 0 0;
}

.section3 .icon {
  font-size: 2.8rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0CADC0;
}

.section3 .icon i {
  color: #FFFFFF;
}

.section3 .infoContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .infoContainer p {
  margin-top: 20px;
}

.section4a,
.section4b {
  background-color: #21404F;
  position: relative;
}

.section4a h2, .section4a p,
.section4b h2,
.section4b p {
  color: #FFFFFF;
}

.section4a p,
.section4b p {
  margin: 20px 0;
}

.section4a button,
.section4b button {
  background-color: #CCEDFB;
  color: #1E1713;
}

.section4a .box,
.section4b .box {
  padding: 80px 0;
}

.section4a {
  position: relative;
}

.section4a .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section4a .box {
  padding-left: 50px;
}

.section4b {
  position: relative;
}

.section4b .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.section4b .box {
  padding-right: 50px;
}

.section4a .box,
.section4b .box {
  width: 50%;
}

.section4a::before {
  content: '';
  width: calc(50% - 50px);
  background-image: url(../assets/left-image.jpg);
  background-size: cover;
  position: absolute;
  top: -60px;
  bottom: 60px;
  left: 0;
  -webkit-box-shadow: 20px 22px #0CADC0;
          box-shadow: 20px 22px #0CADC0;
}

.section4b::after {
  content: '';
  width: calc(50% - 50px);
  background-image: url(../assets/right-image.jpg);
  background-size: cover;
  position: absolute;
  top: 60px;
  bottom: -60px;
  right: 0;
  -webkit-box-shadow: -20px 22px #0CADC0;
          box-shadow: -20px 22px #0CADC0;
}

.section5a {
  background-image: url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  max-height: 550px;
}

.section5b {
  background-color: #CCEDFB;
  padding: 250px 0;
  text-align: center;
}

.section5b h2, .section5b p {
  color: #1A315C;
}

.section5b p {
  margin: 20px 0;
}

.section5b button {
  background-color: #1A315C;
  color: #FFFFFF;
  margin: 45px 0;
}

.blogBody {
  background-color: #CCEDFB;
}

.mainArticleContent {
  color: #FFFFFF;
}

.articleWrapper {
  width: 60%;
}

.commentsSection .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentsSection .comment .textContainer {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 80px;
}

.commentsSection h2 {
  padding-bottom: 40px;
}

.commentsSection h3 {
  padding-bottom: 10px;
  color: #1A315C;
}

.blogPost {
  position: relative;
}

.blogPost .textContainer {
  padding: 80px 20px;
  padding-top: 600px;
}

.blogPost p:not(.blogDate) {
  padding: 18px 0;
}

.blogPost .blogDate {
  padding: 10px 0 18px 0;
}

.blogPost .articleWrapper::after {
  content: '';
  width: 60%;
  background-color: #21404F;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-bottom: 22px solid #0CADC0;
  -webkit-box-shadow: 20px 0 #0CADC0;
          box-shadow: 20px 0 #0CADC0;
}

.blogPost::before {
  content: '';
  width: 60%;
  max-height: 650px;
  background-image: url(../assets/blog-post-image.jpg);
  background-size: cover;
  position: absolute;
  top: -150px;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 20px 22px #0CADC0;
          box-shadow: 20px 22px #0CADC0;
}

.commentsSection {
  padding-top: 50px;
  margin-bottom: 80px;
}

.commentsSection button {
  display: block;
  width: 100%;
}

.commentsSection .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentsSection .nameEmail input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 3px solid #0CADC0;
  background-color: #CCEDFB;
  padding: 0 0 20px 30px;
}

.commentsSection .nameEmail input[type="email"] {
  margin-left: 15px;
}

.commentsSection textarea {
  border: 3px solid #0CADC0;
  margin: 20px 0;
  width: 100%;
  background-color: #CCEDFB;
  padding: 30px 0 0 30px;
  resize: none;
}

.commentsSection button {
  background-color: #1A315C;
  color: #FFFFFF;
}

main {
  position: relative;
}

aside {
  width: 25%;
  background-color: #21404F;
  color: #FFFFFF;
  position: absolute;
  top: 150px;
  right: 0;
}

aside .imageContainer {
  -webkit-box-shadow: -20px 22px #21404F;
          box-shadow: -20px 22px #21404F;
}

aside .asideText {
  -webkit-box-shadow: -20px 0 #21404F;
          box-shadow: -20px 0 #21404F;
  padding-bottom: 22px;
}

aside li::before {
  content: '•';
  margin-right: 5px;
}

.contactMain {
  background-color: #CCEDFB;
}

.contactMain .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactMain .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.4rem;
  padding-bottom: 20px;
}

.contactMain .social a {
  color: #1A315C;
}

.contactMain .socialEmail {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
}

.contactMain form {
  width: 65%;
  background-color: #21404F;
  position: relative;
  top: -100px;
  padding: 50px;
  -webkit-box-shadow: 20px 22px #0CADC0;
          box-shadow: 20px 22px #0CADC0;
  -webkit-box-flex: 0;
      -ms-flex: 0  0 auto;
          flex: 0  0 auto;
}

.contactMain form button {
  display: block;
  width: 100%;
}

.contactMain form .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactMain form input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 3px solid #0CADC0;
  background-color: #21404F;
  color: #FFFFFF;
  padding: 0 0 20px 30px;
  margin-bottom: 50px;
}

.contactMain form input[type="email"] {
  margin-left: 15px;
}

.contactMain form textarea {
  border: 3px solid #0CADC0;
  color: #FFFFFF;
  width: 100%;
  background-color: #21404F;
  padding: 30px 0 0 30px;
  margin-bottom: 50px;
  resize: none;
}

.contactMain form button {
  background-color: #C6D9FB;
  color: #1E1713;
}

@media (max-width: 1300px) {
  .contactMain .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMain form input[type="email"] {
    margin-left: 0;
  }
}

@media (max-width: 1080px) {
  .contactMain {
    padding: 0 0 50px 0;
  }
  .contactMain .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMain .infoContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  .contactMain .socialEmail {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactMain form {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .contactMain form {
    padding: 20px;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .contactMain .infoContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .contactMain .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contactMain .socialEmail {
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .contactMain .wrapper {
    width: 90%;
  }
  .contactMain form {
    padding: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

footer {
  background-color: #161515;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}
